.about{
    width:80%;
    margin: auto;
}

.about p{
    font-family: proxima-nova;
    font-weight: 300;
    font-style: normal;
    line-height: 1.8em;
    font-size: 21px;
    text-transform: none;
    text-decoration: none;
    margin: 0 0 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
